<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.pmai.dao.AuctionMapper">
  <resultMap id="BaseResultMap" type="com.my.pmai.pojo.Auction">
    <!--@mbg.generated-->
    <!--@Table auction-->
    <id column="aid" jdbcType="INTEGER" property="aid" />
    <result column="aname" jdbcType="VARCHAR" property="aname" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="startTime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="endTime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="img" jdbcType="VARCHAR" property="img"/>
  </resultMap>
  <select id="queryAll" resultMap="BaseResultMap">
         SELECT * FROM `auction`
  </select>
  <insert id="addAuction">
        INSERT INTO `auction` (aname,`describe`,startTime,endTime,price,img)
        VALUES(#{auction.aname},#{auction.describe},#{auction.starttime},#{auction.endtime},#{auction.price},#{auction.img})
  </insert>
  <select id="queryStime" resultType="Auction">
    SELECT startTime,endTime FROM `auction` WHERE aid=#{aid}
  </select>
  <delete id="deleteSp">
            DELETE FROM `auction` WHERE aid=#{aid}
  </delete>
  <select id="queryByAid" resultMap="BaseResultMap">
    SELECT * FROM `auction` WHERE aid=#{aid}
  </select>
  <update id="updateSp">
    UPDATE `auction` SET aname=#{auction.aname},`describe`=#{auction.describe},startTime=#{auction.starttime},endTime=#{auction.endtime},price=#{auction.price},img=#{auction.img} WHERE aid=#{auction.aid}
  </update>
  <select id="queryAllRecord" resultType="com.my.pmai.pojo.Record">
    SELECT * FROM `record` WHERE raid=#{aid} ORDER BY pricer DESC
  </select>
</mapper>