<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.pmai.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="com.my.pmai.pojo.Role">
    <!--@mbg.generated-->
    <!--@Table role-->
    <id column="roid" jdbcType="INTEGER" property="roid" />
    <result column="rname" jdbcType="VARCHAR" property="rname" />
  </resultMap>
</mapper>